In [3]:
 
import numpy as np
import pandas as pd

df=pd.read_csv('/content/titanic.csv')
df.head()

,PassengerId,Pclass,Name,Sex,Age,Ticket,Fare,Survived
0,1,3,"Braund, Mr. Owen Harris",male,22.0,A/5 21171,7.2500,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,PC 17599,71.2833,1
2,3,3,"Heikkinen, Miss. Laina",female,26.0,STON/O2. 3101282,7.9250,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,113803,53.1000,1
4,5,3,"Allen, Mr. William Henry",male,35.0,373450,8.0500,0

In [4]:
 
df.shape

(891, 8)

In [5]:
df['Age']=df['Age'].replace(np.NaN,df['Age'].mean())
df['Age'][:10]

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

In [6]:
Gender = {"Sex":{"male": 0, "female": 1}}
df = df.replace(Gender)
df.head()

,PassengerId,Pclass,Name,Sex,Age,Ticket,Fare,Survived
0,1,3,"Braund, Mr. Owen Harris",0,22.0,A/5 21171,7.2500,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,PC 17599,71.2833,1
2,3,3,"Heikkinen, Miss. Laina",1,26.0,STON/O2. 3101282,7.9250,1
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,113803,53.1000,1
4,5,3,"Allen, Mr. William Henry",0,35.0,373450,8.0500,0

In [8]:
# drop irrelevant features

df.drop(['Name', 'PassengerId', 'Ticket'], axis=1, inplace=True)
df.head()

   Pclass  Sex   Age     Fare  Survived
0       3    0  22.0   7.2500         0
1       1    1  38.0  71.2833         1
2       3    1  26.0   7.9250         1
3       1    1  35.0  53.1000         1
4       3    0  35.0   8.0500         0

In [9]:

X=df.drop('Survived', axis=1)
y=df.Survived

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [11]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [12]:
#make prediction
y_pred=knn.predict(X_test)

In [13]:
from sklearn.metrics import accuracy_score,confusion_matrix

knn_accuracy = round(accuracy_score(y_test, y_pred), 4)
print("Accuarcy",knn_accuracy*100)

Accuarcy 70.15

In [14]:
#Confusion matrix
print(confusion_matrix(y_test,y_pred))

[[125  28]
 [ 52  63]]